body {
	display: grid;
	grid-template-columns: 200px 2fr 1fr;
	grid-template-rows: 100px 1fr 50px;
	grid-template-areas: 
		'h 			h 		h'
		'content	content	content'
		'footer		footer	footer';
	height: 100vh;
}

header {
	grid-area: h;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main {
	grid-area: content;
	display: grid;
	grid-template-columns: 2fr 1fr;
	overflow-y: auto;
}

.speakers {
	display: flex;
	flex-wrap: wrap;
}

.listing {
	display: block;
}

.listing.speakers {
	display: grid;
	grid-template-columns: repeat(auto-fit, 200px);
	grid-gap: 20px;
}

.listing.speakers h1 {
	grid-column: 1 / -1;
}

footer {
	grid-area: footer;
	display: flex;
	align-items: center;
}

nav ul {
	display: flex;
	justify-content: space-between;
}

.content {
	clear: both;
	grid-column: span 2;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas: 
		'h 		talks'
		'bio	talks';
	grid-column-gap: 20px;
}

.content img {
	float: right;
}

aside .speakers img {
	float: left;
}

aside .speakers li {
	clear: both;
}

div {
	grid-area: bio
}

aside {
	grid-area: talks
}


@supports (grid-template-columns: subgrid) {
	.content {
		grid-template-columns: subgrid;
	}

}	