@use '../variables.scss';

.header {
	display: flex;
	align-items: center;
	border: 2px solid variables.$darkpurple;
	background: variables.$darkpurple_light_10;

	a {
		color: inherit;
		text-decoration: none;

		&:hover, &:focus {
			background: variables.$purple;
		}
	}

	ul, li {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	nav {
		margin-left: 50px;

		ul {
			display: flex;
		}

		li {
			margin: 10px 20px;
		}
	}
}
