@use '../variables.scss';
@use '../animations.scss';

.list {
	margin: 0;
	padding: 0;

	li {
		display: flex;
		font-size: 0.8em;
	}

	button {
		margin: 0 0 0 10px;
		border-color: transparent;
		opacity: 0.6;
		background: #ffffff;
		color: variables.$darkpurple;

		&:hover, &:focus {
			opacity: 1;
			background: variables.$darkpurple;
			color: #ffffff;
		}

		&.remove {
			color: variables.$red;

			&:hover, &:focus {
				background: variables.$red;
			}
		}

		&.add {
			color: variables.$green;

			&:hover, &:focus {
				background: variables.$green;
			}
		}

		svg {
			height: 1.5em;
		}
	}

	input {
		&[type='checkbox'] {
			+ label {
				flex-shrink: 0;
				max-width: calc(100% - 54px);

				.check {
					display: block;
					position: absolute;
					left: 4px;
					width: 25px;
					height: 25px;

					path {
						animation-duration: 2s;
						animation-timing-function: linear;
						stroke-width: 2;
						stroke-dasharray: 400;
						stroke-dashoffset: -400;
						stroke: variables.$green;
						fill: none;
						animation-fill-mode: forwards;
					}
				}

				span:not(.sr-only) {
					display: inline-block;
					position: relative;
					// transition: all 0.5s cubic-bezier(.55, 0, .1, 1);

					&:after {
						content: '';
						display: block;
						position: absolute;
						width: 100%;
						height: 2px;
						margin-top: -0.75em;
						// transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);
						transform: scaleX(0);
						transform-origin: center left;
						animation-duration: 0.5s;
						animation-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
						background: variables.$neutral;
						animation-fill-mode: forwards;
					}
				}
			}

			&:checked {
				+ label {
					transition: opacity 0.5s steps(1, end) 0.1s;
					opacity: 0.6;

					.check {
						path {
							animation-name: check;
						}
					}

					span {
						&:after {
							animation-name: strikethrough;
						}
					}

					&:after {
						content: normal
					}
				}
			}
		}
	}

	.modal {
		form {
			position: relative;
			z-index: 5;
			align-items: center;
			max-width: unset;
			padding: 0;
		}

		label {
			width: auto;
		}

		input {
			flex: 1 1 auto;
			padding: 10px 15px;
			border: none;
			border-bottom: 1px solid variables.$neutral_light_25;
			background: transparent;
			font-size: 1.2em;

			&[type='text'] {
				flex: 1 1 300px;
				margin: 0 10px;
			}

			&[type='checkbox'] {
				+ label {

					margin: 0;

					.check {
						// left: 4px;
						width: 30px;
						height: 30px;
					}

					&:before {
						width: 35px;
						height: 35px;
						margin: 0;
					}

					&:after {
						top: -4px;
						left: 5px;
						font-size: 30px;
					}
				}

				&:checked {
					+ label {
						opacity: 1;

						span {
							&:after {
								content: normal;
							}
						}
					}
				}
			}
		}

		button {
			margin: 0;

			&.remove {
				background: variables.$red;
				color: #ffffff;
			}

			&.close {
				position: absolute;
				top: 0;
				right: 0;
				height: 40px;
				border: none;
				border-radius: 5px 50% 5px 5px;
				opacity: 1;
				background: none;

				path {
					stroke-width: 2px;
				}

				&:hover, &:focus {

					background: variables.$darkpurple;
				}
			}
		}
	}
}
