.header {
	display: flex;
	align-items: center;
}

.header nav ul {
	display: flex;
}

main section:not(.days):not(.notes):not(.notes_week):not(.notes_month), main section .day {
	display: grid;
	grid-template-columns: 1fr auto;
	align-content: start;
	align-items: center;
	justify-content: center;
}

main section:not(.days):not(.notes):not(.notes_week):not(.notes_month) .modal, main section .day .modal {
	order: 2;
}

main section:not(.days):not(.notes):not(.notes_week):not(.notes_month) .list, main section .day .list {
	grid-column: span 2;
}

main .days .lists {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.week {
	display: grid;
	grid-template-areas: 'date	days	days		days	days' 'goals	days	days		days	days' 'events	days	days		days	days' 'work	work	personal	self	notes';
	grid-template-columns: repeat(2, 1fr) repeat(3, 2fr);
	grid-template-rows: repeat(4, auto);
}

.week .date {
	grid-area: date;
}

.week .goals {
	grid-area: goals;
}

.week .events {
	grid-area: events;
}

.week .work {
	grid-area: work;
}

.week .personal {
	grid-area: personal;
}

.week .selfcare {
	grid-area: self;
}

.week .notes {
	grid-area: notes;
}

.week .days {
	grid-area: days;
}

.month {
	display: grid;
	grid-template-areas: 'date date' 'goals			notes' 'calendar	calendar';
	grid-template-columns: 1fr 2fr;
}

.month .month_view {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(7, 1fr);
}

.month .month_view .day {
	display: flex;
	grid-column-start: var(--offset);
	grid-row-start: var(--row);
	align-items: center;
	justify-content: center;
}

.month .month_view .event {
	grid-column-end: var(--event_end);
	grid-column-start: var(--event_start);
	grid-row: var(--row);
	align-self: start;
}


.month .date {
	grid-area: date;
	align-self: start;
}

.month .goals {
	grid-area: goals;
}

.month .notes {
	grid-area: notes;
}

.calendar {
	grid-area: calendar;
}

main {
	display: grid;
	grid-template-areas:
		'date_week		goals_week 		goals_month		events'
		'date_month		goals_week 		goals_month		events'
		'day			goals_week		goals_month		events'
		'notes_week 	notes_week		notes_month		notes_month';
	grid-template-columns: repeat(4, 1fr);
}

main .goals_week {
	grid-area: goals_week;
}

main .goals_month {
	grid-area: goals_month;
}

main .events {
	grid-area: events;
}

main .notes_week {
	grid-area: notes_week;
}

main .notes_month {
	grid-area: notes_month;
}

main .current_day {
	grid-area: day;
}

main .date_week {
	grid-area: date_week;
}

main .date_month {
	grid-area: date_month;
}

main .date {
	align-self: center;
	justify-self: start;
}
